


.titulo {

  text-align: center;

  color: #333;

  margin-bottom: 10px;

  }

.info {

  text-align: center;

  color: #666;

  margin-bottom: 20px;

  }

  .vacina-titulo {
  background-color: #f0f8ff;

  padding: 10px;

  border-radius: 5px;

  margin-bottom: 10px;

  text-align: center;

  color: #1a237e;

  font-weight: bold;

  }

.vacina-row {

  display: flex;

  justify-content: space-between;

  align-items: center;

  border-bottom: 1px solid #eee;

  padding: 10px 0;

  }

.vacina-row:last-child {

  border-bottom: none;

  }

.vacina-nome {

  font-weight: bold;

  color: #333;

}

.dose-info {

  background-color: #e0f7fa;
  display: flex;
  flex-direction: column;
  color: #1a237e;
  align-items: center;
  padding: 8px 12px;
  text-align: center;
  border-radius: 5px;

  font-size: 0.9em;

}
.dose-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.data-aplicacao {
  font-size: 0.9em;
  margin-top: 5px;
  color: var(--text-color);
}


.dose-text {
  font-weight: bold;
}

.data-text {
  font-size: 0.9em;
  margin-top: 5px;
  color: var(--text-color); /* Pode ajustar a cor conforme necessário */
}

/* Estilo para vacina aplicada */
.vacina-aplicada {
  background-color: #28a745; /* Verde para aplicada */
  color: #fff;
}

/* Estilo para vacina pendente */
.vacina-pendente {
  background-color: #6c757d; /* Cinza para pendente */
  color: #fff;
}

/* Estilo para vacina atrasada */
.vacina-atrasada {
  background-color: #dc3545; /* Vermelho para atrasada */
  color: #fff;
}

.dose-info .vacina-aplicada {
  background-color: #28a745; /* Verde para aplicada */
  color: #fff;
}

.info-crianca{
  display: flex;
  color: var(--forty-color);
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}


:root{
--primary-color: #3451BA;
--second-color: #8193D4;
--third-color: #111B62;
--forty-color: #130f90;
--text-color: #F1F2FA;
}

body {
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: var(--primary-color);

}

button {
cursor: pointer;
}

.container {
width: 90%;
height: 80%;
border-radius: 10px;
background: var(--text-color);
display: flex;
flex-direction: column;
background-color: white;
padding: 20px;
max-width: 600px;
margin: 0 auto;

}
#vacinas-container {
  height: 400px; 
  overflow-y: auto; 
  padding: 10px; 
  border: 1px solid #ddd; 
  background-color: #fff; 
  border-radius: 10px;
 
}



.header {
justify-content: space-between;
margin: 10px 12px;
color:var(--primary-color);
text-align: center;
font-weight: 900;
font-size: 24px;
word-break: break-all;

}
h2, h3 {
font-size: 18px;
text-align: center;
color:var(--primary-color);
}

.filter-vacina {
text-align: end;
align-self: flex-end;
margin: 5px;
width: 30%;
padding: 5px;
margin: 2px 10px;
border: transparent;
border-radius: 5px;
background-color: var(--text-color);
color:var(--primary-color);
cursor: pointer;
font-size: 16px;
}
.filter-vacina select{
display: flex;
text-align: end;
margin: 0px;
width: 100%;
border: transparent;
background-color: var(--text-color);
color:var(--primary-color);
cursor: pointer;
font-size: 14px;
}

select:hover {
border-color: var(--second-color);
}




.divTable {
padding: 10px;
height: 100%;
width: auto; 
overflow:auto;
color:var(--primary-color)
}


.input{
height: 20px;
border-radius: 20px;
padding: 0.5px 10px;
margin-bottom: 1px;
background: rgba(253, 223, 168, 0.5);
flex-direction: column;
}
.input input{
border: none;
background: transparent;
}





@media (max-width: 700px) {
body {
font-size: 10px;
}

.header span {
font-size: 15px;
}

#new {
padding: 5px;
font-size: 10px;
}



.modal {
width: 90%!important;
}

.modal label {
font-size: 12px!important;
}
}

.modal-container {
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.5);
display: none;
z-index: 999;
align-items: center;
justify-content: center;
}
.modal-pesquisarCrianca{
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.5);
display: none;
z-index: 999;
align-items: center;
justify-content: center;
}

.modal  {
display: flex;
flex-direction: column;
align-items: center;
padding: 40px;
background-color: var(--text-color);
border-radius: 10px;
width: 50%;
}

.pesquisarCrianca {

flex-direction: column;
align-items: center;
padding: 40px;
background-color: var(--text-color);
border-radius: 10px;
width: 80%;
max-width: 90%;
}

.modal-pesquisarCrianca.active{
display: flex;
}

.modal label {
font-size: 14px;
width: 100%;
}

#crianca input {
width: 100%;
outline: none;
padding: 5px 10px; 
width: 100%;
margin-bottom: 10px;

border-radius: 20px;
padding: 2px 15px;

border: #111B62 solid 1px;
color: var(--forty-color);
}

#tipoPesquisa {
display: flex;
flex-direction: column;
align-items: start;
flex-wrap: wrap;
gap: 10px;

}

#tipoPesquisa label {
display: flex;
align-items: center;
font-size: 14px; 
color: var(--primary-color); 
cursor: pointer;
white-space: nowrap;
} 
#tipoPesquisa input {
margin-right: 40px;
display: flex;
justify-content: center;
margin: auto;
border-radius: 20px;
align-self: center;

}

.pesquisarCrianca form button {
background-color: var(--primary-color);
color: white;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
width: 100%;

}

.pesquisarCrianca form button:hover {
background-color: var(--third-color);
}


.modal label {
display: block;
margin-bottom: 5px;
color: var(--primary-color);
}

.modal form input {
width: 100%;
padding: 8px;
margin-bottom: 10px;
border: 1px solid #ddd;
border-radius: 5px;
color:var(--primary-color);
}
.modal .all-selects {

width: 100%;
display: flex;
flex-direction: row;
align-self: flex-start;
justify-content: space-between;

}
.modal select{
text-align: center;
margin-bottom: 15px;

}
.modal .select-estrategia select{
width: 100%;
color: var(--primary-color);
border-radius: 5px;
border: 1px solid var(--second-color);
}


.modal form button {
background-color: var(--primary-color);
color: var(--text-color);
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
width: 100%;
}

form button:hover {
background-color: var(--third-color);
}


.active {
display: flex;
}

.active .modal {
animation: modal .4s;
}


@keyframes modal {
from {
opacity: 0;
transform: translate3d(0, -60px, 0);
}
to {
opacity: 1;
transform: translate3d(0, 0, 0);
}
}

/* 
body, button, input, select {
  font-family: 'Poppins', sans-serif;
}

h2, h3, .header {
  text-align: center;
  color: var(--primary-color);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.container {
  width: 90%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background: white;
  margin: 0 auto;
}


button, .pesquisarCrianca form button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

button:hover, .pesquisarCrianca form button:hover {
  background-color: var(--third-color);
}


.modal-container, .modal-pesquisarCrianca {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal, .pesquisarCrianca {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: var(--text-color);
  border-radius: 10px;
  width: 50%;
}


@media (max-width: 700px) {
  body { font-size: 10px; }
  .header { font-size: 15px; }
  .modal, .pesquisarCrianca { width: 90%!important; }
}  */
