@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #d75e01;
  --second-color: #e76d0f;
  --third-color: #ff954a;
  --forty-color: #ff7d03;
  --text-color: #fff;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--forty-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  background: var(--text-color);
}

.divTable {
  padding: 20px;
  height: 100%;
  width: auto;
  overflow: auto;
  color: var(--primary-color);
}

table {
  width: 100%;
  border-spacing: 10px;
  border-collapse: collapse;
  word-break: break-all;
}

thead {
  background-color: #f4f4f4;
  border-bottom: 2px solid var(--primary-color);
}

thead tr th {
  padding: 8px;
  text-align: start;
  color: var(--primary-color);
}

tbody tr td {
  vertical-align: top;
  padding: 10px;
  line-height: 1.4;
}

tbody tr td a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
}

tbody tr:nth-child(odd) {
  background-color: #fae5d2;
}

tbody tr:nth-child(even) {
  background-color: #f1c89c;
}
