@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #3451BA;
    --second-color: #8193D4;
    --third-color: #111B62;
    --forty-color: #130f90;
    --text-color: #F1F2FA;
    
}


.box-inicial{
    background-color: var(--primary-color);
    height: 25vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.box-inicial-text-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.box-inicial-text-icons .box-inicial-text{
    margin-left: 10px;

}

.box-inicial-icons{
    width: 15%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 15px;

}
.box-inicial-profile{
    display: flex;
    align-items: center;
    height: 15vh;

}
.box-inicial-profile img{
    height: 100%;
    border-radius: 100px;
    border: 5px solid var(--third-color) ;
    margin: 12px 10px;
}



ul{
    width: 100%;
    height: 70vh;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    align-items: center;
    align-content:stretch;
    justify-items: center;
    margin: 10px 0px;
    padding: 10px;
    
}

li{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--forty-color);
    border-radius: 20px;
    box-shadow:  0 0 0 1px rgba(250, 159, 3);
    padding: 0px;
    

}


li i{
    font-size: 35px;
    margin-bottom: 14px;
}
li a{
    text-decoration: none;
}
