@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


:root{
  --primary-color: #3451BA;
  --second-color: #8193D4;
  --third-color: #111B62;
  --forty-color: #130f90;
  --text-color: #F1F2FA;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  
}

button {
    cursor: pointer;
}

.container {
    width: 90%;
    height: 80%;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
}

.header {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px 12px;
    color:var(--primary-color)
}

.header span {
    font-weight: 900;
    font-size: 22px;
    word-break: break-all;
    
}


form input{
  width:40%;
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color:var(--primary-color);
}





.form-crianca label {
  font-size: 16px;
  width: 100%;
}

.form-crianca input {
  width: 100%;
  outline: none;
  padding: 0px 0px; 
  width: 100%;
  margin-bottom:10px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.form-crianca select {
 
  width: 100%;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-between;
  color: var(--primary-color);
  border-radius: 5px;
  margin-bottom: 20px;

}


.form-crianca form button {
  background-color: var(--primary-color);
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 16px;
}

.form-crianca form button:hover {
  background-color: var(--third-color);
}


